@model Movie.Domain.DTO.MailDto
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 style="height:150px"></h1>
<div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4" style="background-color: #B6FCF2; border-radius: 15px; padding: 25px;">
            <form method="post" asp-action="Contact">
                <div class="form-group">
                    <label asp-for="subject">Subject</label>
                    <input asp-for="subject" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="message">Message</label>
                    <input asp-for="message" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
